<!-- se-pre-con-->
<div class="se-pre-con"></div>
<!--Top  header-->
<div class="top-bar clearfix light" id="top">
    <div class="container">
        <div class="float-sm-left">
            <ul class="list-inline mb-0 left-info">
                <li class="list-inline-item">
                    <b>BUY : ₦400 SELL : ₦440</b>
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-envelope-o" aria-hidden="true">
                    </i> info@bitcoinbuy.com
                </li>
                <!--change gmail  here-->
                <li class="list-inline-item">
                    <i class="fa fa-phone" aria-hidden="true">
                        <!--change phone number here-->
                    </i>+2349087876717</li>
                <!--change phone number here-->

            </ul>
        </div>
        <div class="float-sm-right hidden-sm-down">
            <ul class="top-soc-link list-inline mb-0">
                <!--change gmail  here-->
                <li class="list-inline-item">
                    <i class="fa fa-map-marker" aria-hidden="true">
                        <!--change phone number here-->
                    </i>Shop a4 ifemelunma Okpuno Awka , Anambra state.</li>
                <!--change phone number here-->
                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- header-->
<header class="header">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded ">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand nav-link p-0" href="/"><img src="images/logo.png" alt="" class="img-fluid"></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#about-us"> About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sell-bitcoin"> Sell Bitcoins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/buy-bitcoin"> Buy Bitcoins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#home-feature">Safety</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#feature"> Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#calculator"> price</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#newsletter">contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--End of  header-->
<!-- hero benner -->