<!-- hero benner -->
<div class="business-hero center-block">
    <div class="container">
        <div class="d-table height-vh w-100">
            <div class="d-table-cell w-100 align-middle wow fadeInUp">
                <h2 class="small-border-left"><small>Invest in Bitcoin</small></h2>
                <div class="tlt h2 text-capitalize">
                    <ul class="texts mb-0 list-unstyled" style="display: none;">
                        <li data-out-effect="fadeOut" data-in-effect="fadeInDown">The Easiest Way to Get Your Bitcoins
                        </li>
                        <li data-out-effect="fadeOut" data-in-effect="fadeIn">Bitcoins Agency</li>
                        <li data-out-effect="fadeOut" data-in-effect="zoomIn">24/7 Customer support</li>
                    </ul>
                </div>
                <p class="lead wow fadeInUp">
                    Here's Why You Should And Shouldn't Invest In Bitcoins This Holiday Season
                    <br> Millions of people use this theme. Each of them use it differently.
                </p>
                <div class="actions wow fadeInUp">
                    <a href="/sell-bitcoin" class=" btn-ff nav-link-rounded">Sell Bitcoins</a>
                    <a href="/buy-bitcoin" class=" btn-ff ml-3 nav-link-rounded">Buy Bitcoins</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content-->
<section id="content" class="page-content">
    <div
        style="height:62px; background-color: #1D2330; overflow:hidden; box-sizing: border-box; border: 1px solid #282E3B; border-radius: 4px; text-align: right; line-height:14px; block-size:62px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #262B38;padding:1px;padding: 0px; margin: 0px; width: 100%;">
        <div style="height:40px; padding:0px; margin:0px; width: 100%;"><iframe
                src="https://widget.coinlib.io/widget?type=horizontal_v2&theme=dark&pref_coin_id=1505&invert_hover="
                width="100%" height="36px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0"
                style="border:0;margin:0;padding:0;"></iframe></div>
        <div
            style="color: #626B7F; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing: border-box; padding: 2px 6px; width: 100%; font-family: Verdana, Tahoma, Arial, sans-serif;">
            <a href="https://coinlib.io" target="_blank"
                style="font-weight: 500; color: #626B7F; text-decoration:none; font-size:11px">Cryptocurrency
                Prices</a>&nbsp;by Coinlib</div>
    </div>
    <!-- about-->
    <div id="about-us" class="block">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7">
                    <div class="heading-box wow fadeInUp">
                        <div class="welcome">
                            <div>No.1 Cryptocurrency bank in</div>
                            <span> Nigeria to buy & sell</span>
                            <div>digital money</div>
                            <p>Lightcoin</p>
                        </div>
                        <p class="lead mb-2">At Bitcoinlord, we are the most reliable, fastest and cheapest e-currency
                            exchanger since 2009 (buy/sell perfectmoney, webmoney, bitcoin, in nigeria).</p>
                        <p class="lead mb-2"> We are a
                            perfect money exchanger of repute and we pride ourselves to instantly fund perfect money
                            account for both small and large orders efficiently.</p>
                        <p class="lead mb-5"> We do not delay, we fund your perfect
                            money accounts instantly.</p>
                        <a href="/buy-bitcoin" class="btn btn-default nav-link-rounded">Buy</a>&nbsp;&nbsp;
                        <a href="/sell-bitcoin" class="btn btn-default nav-link-rounded">Sell</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5  push-md-1 wow fadeInUp">
                    <div class="about-box pt-5"><img title="about-img" src="images/user.jpg" alt="about-img"
                            class="img-fluid pt-5"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- home feature-->
    <div id="home-feature" class="block home-feature">
        <div class="container">
            <div class="row">
                <div class="col-md-3 wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.3s">
                    <!-- single info block -->
                    <div class="info text-center">
                        <div class="icon icon-circle">
                            <i class="fa fa-paper-plane-o"></i>
                        </div>
                        <h5 class="info-title">Trusted & Certified</h5>
                        <div class="description">
                            <p class="description">We are trusted by thousands of active bitcoin traders that
                                understands the importance of security and good rates.</p>
                        </div>
                    </div>
                    <!-- single info block ends -->
                </div>
                <div class="col-md-3 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <!-- single info block -->
                    <div class="info text-center">
                        <div class="icon icon-circle">
                            <i class="fa fa-suitcase" aria-hidden="true"></i>
                        </div>
                        <h5 class="info-title">Good Rates</h5>
                        <div class="description">
                            <p class="description">We have very good rates when compared to other bitcoin traders which
                                is one of those factors that sets us apart.</p>
                        </div>
                    </div>
                    <!-- single info block ends -->
                </div>
                <div class="col-md-3 wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s">
                    <!-- single info block -->
                    <div class="info text-center">
                        <div class="icon icon-circle">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </div>
                        <h5 class="info-title">Instant Payment</h5>
                        <div class="description">
                            <p class="description">Instantly get paid without delays whenever you buy or sell Bitcoin on
                                Bitcoinlord trading platform.</p>
                        </div>
                    </div>
                    <!-- single info block ends -->
                </div>
                <div class="col-md-3 wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s">
                    <!-- single info block -->
                    <div class="info text-center">
                        <div class="icon icon-circle">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </div>
                        <h5 class="info-title">Best Bitcoin Exchange</h5>
                        <div class="description">
                            <p class="description">we are among the very few indigenous bitcoin exchange platform in
                                Nigeria that supports the buying and selling.</p>
                        </div>
                    </div>
                    <!-- single info block ends -->
                </div>
            </div>
        </div>
    </div>

    <!-- buy us-->
    <div id="buy-us" class="block bg-black-dark buy-us">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="heading-box text-white wow fadeInUp">
                        <div class="welcome">
                            <div>Buy and Sell</div>
                            <span>Bitcoin</span>
                            <p>BUY & Sell <i class="cc BTC-alt"></i></p>
                        </div>
                        <p class="lead mb-2">Bitcoin is a digital currency that people send over the internet.</p>
                        <p class="lead mb-2">It’s described as ‘decentralised’ which simply means that no central
                            authority
                            (like a Government or financial institution) controls it.</p>
                        <p class="lead mb-5"> Using Bitcoin has a number of advantages over traditional fiat currencies
                            such as GBP or EUR. Known as a global currency, Bitcoin has the same value in every country
                            and can easily be transferred from person to person no matter where they are in the world!
                            People use Bitcoin as a payment method, store of wealth.
                        </p>
                        {{!-- <a href="#" class="btn btn-fff nav-link-rounded"> SIGNUP NOW</a> --}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5  push-md-1 wow fadeInUp">
                    <div class="about-box pt-5"><img title="about-img" src="images/coin1.png" alt="about-img"
                            class="img-fluid pt-5"></div>
                </div>
            </div>
        </div>
    </div>
    {{!-- <!-- home feature-->
    <div id="home-feature" class="block home-feature">
        <div class="container">
            <div class="row">
                <div class="col-md-4 wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.3s">
                    <!-- single info block -->
                    <div class="info text-center">
                        <div class="icon icon-circle">
                            <i class="fa fa-paper-plane-o"></i>
                        </div>
                        <h5 class="info-title">Download a Wallet</h5>
                        <div class="description">
                            <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                                Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh,
                                viverra non, semper suscipit, posuere a, pede.</p>
                        </div>
                    </div>
                    <!-- single info block ends -->
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <!-- single info block -->
                    <div class="info text-center">
                        <div class="icon icon-circle">
                            <i class="fa fa-suitcase" aria-hidden="true"></i>
                        </div>
                        <h5 class="info-title">Add Bitcoin to a Wallet</h5>
                        <div class="description">
                            <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                                Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh,
                                viverra non, semper suscipit, posuere a, pede.</p>
                        </div>
                    </div>
                    <!-- single info block ends -->
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s">
                    <!-- single info block -->
                    <div class="info text-center">
                        <div class="icon icon-circle">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </div>
                        <h5 class="info-title">Send/Receive with Wallet</h5>
                        <div class="description">
                            <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                                Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh,
                                viverra non, semper suscipit, posuere a, pede.</p>
                        </div>
                    </div>
                    <!-- single info block ends -->
                </div>
            </div>
        </div>
    </div> --}}
    <!--  feature-->
    <div id="feature" class="block block-bg block-bg-after color_light_bg">
        <div class="container">
            <div class="center-title text-white wow fadeInUp">
                <h2>What we Buy</h2>
                <p>Over 500,000 Customers worldwide</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="feature-icon-left clearfix wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon">
                            <i class="cc IFC"></i>
                        </div>
                        <div class="content text-white">
                            <h4 class="mb-2">Bitcoin</h4>
                            <p>
                                DIGITAL CURRENCY
                            </p>
                        </div>
                    </div>
                    <!--/feature icon-->
                    <div class="feature-icon-left clearfix wow fadeInUp" data-wow-delay="0.7s">
                        <div class="icon">
                            <i class="cc  BTC"></i>
                        </div>
                        <div class="content text-white">
                            <h4 class="mb-2">Perfect Money.</h4>
                            <p>
                                INSTANT PAYMENT.
                            </p>
                        </div>
                    </div>
                    <!--/feature icon-->
                    <div class="feature-icon-left clearfix wow fadeInUp" data-wow-delay="0.9s">
                        <div class="icon">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="content text-white">
                            <h4 class="mb-2">Gift Cards.</h4>
                            <p>
                                ITUNES / AMAZON CARDS
                            </p>
                        </div>
                    </div>
                    <!--/feature icon-->
                </div>
                <div class="col-md-6">
                    <div class="feature-icon-left clearfix wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon">
                            <i class="cc BTM-alt"></i>
                        </div>
                        <div class="content text-white">
                            <h4 class="mb-2">Netteller.</h4>
                            <p>
                                SECURE PAYMENT
                            </p>
                        </div>
                    </div>
                    <!--/feature icon-->
                    <div class="feature-icon-left clearfix wow fadeInUp" data-wow-delay="0.7s">
                        <div class="icon">
                            <i class="cc MONA-alt"></i>
                        </div>
                        <div class="content text-white">
                            <h4 class="mb-2">Skrill</h4>
                            <p>
                                MONEY TRANSFERS
                            </p>
                        </div>
                    </div>
                    <!--/feature icon-->
                    {{!-- <div class="feature-icon-left clearfix wow fadeInUp" data-wow-delay="0.9s">
                        <div class="icon">
                            <i class="cc BTC-alt"></i>
                        </div>
                        <div class="content text-white">
                            <h4 class="mb-2">Easy to use</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut.
                            </p>
                        </div>
                    </div> --}}
                    <!--/feature icon-->
                </div>
            </div>
        </div>
    </div>
    <!--  action-area -->
    <div class="theme-bg action-area text-white pt-60 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-9">
                    <div class="action-content">
                        <div class="action-heading">
                            <h3 class="mb-2 text-uppercase">interested to work with us?</h3>
                            <p class="text-white">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-3">
                    <div class="action-button mt-2 text-center text-md-right">
                        <a href="#" class="btn-ff nav-link-rounded pr-5 pl-5">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  Bitcoin-Mining-->
    {{!-- <div id="Bitcoin-Mining" class="block home-feature block-bp-50">
        <div class="container">
            <div class="center-title wow fadeInUp">
                <h2>Bitcoin Mining</h2>
                <p> Many desktop publishing packages and web page editors now use Lorem Ipsum as
                    <br> their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                    their infancy</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <!-- single card block -->
                    <div class="card mb-4 border-0">
                        <img class="card-img-top img-fluid b-radius-0" src="images/Bitcoin-Mining-01.jpg"
                            alt="Bitcoin Mining">
                        <div class="card-block pl-0 pr-0">
                            <h4 class="card-title">Mining Hardware</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="link d-block mt-2">Learn More</a>
                        </div>
                    </div>
                    <!-- single info block ends -->
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <!-- single card block -->
                    <div class="card mb-4 border-0">
                        <img class="card-img-top img-fluid b-radius-0" src="images/Bitcoin-Mining-02.jpg"
                            alt="Bitcoin Mining">
                        <div class="card-block pl-0 pr-0">
                            <h4 class="card-title">Mining Pools</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="link d-block mt-2">Learn More</a>
                        </div>
                    </div>
                    <!-- single info block ends -->
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.9s">
                    <!-- single card block -->
                    <div class="card mb-4 border-0">
                        <img class="card-img-top img-fluid b-radius-0" src="images/Bitcoin-Mining-03.jpg"
                            alt="Bitcoin Mining">
                        <div class="card-block pl-0 pr-0">
                            <h4 class="card-title">Electricity Costs</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="link d-block mt-2">Learn More</a>
                        </div>
                    </div>
                    <!-- single info block ends -->
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <!-- single card block -->
                    <div class="card mb-4 border-0">
                        <img class="card-img-top img-fluid b-radius-0" src="images/Bitcoin-Mining-04.jpg"
                            alt="Bitcoin Mining">
                        <div class="card-block pl-0 pr-0">
                            <h4 class="card-title">Transaction Fees</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="link d-block mt-2">Learn More</a>
                        </div>
                    </div>
                    <!-- single info block ends -->
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <!-- single card block -->
                    <div class="card mb-4 border-0">
                        <img class="card-img-top img-fluid b-radius-0" src="images/Bitcoin-Mining-05.jpg"
                            alt="Bitcoin Mining">
                        <div class="card-block pl-0 pr-0">
                            <h4 class="card-title">Mining Difficulty</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="link d-block mt-2">Learn More</a>
                        </div>
                    </div>
                    <!-- single info block ends -->
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.9s">
                    <!-- single card block -->
                    <div class="card mb-4 border-0">
                        <img class="card-img-top img-fluid b-radius-0" src="images/Bitcoin-Mining-06.jpg"
                            alt="Bitcoin Mining">
                        <div class="card-block pl-0 pr-0">
                            <h4 class="card-title">Block Reward</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="link d-block mt-2">Learn More</a>
                        </div>
                    </div>
                    <!-- single info block ends -->
                </div>
            </div>
        </div>
    </div> --}}
    <!--  calculator-->
    <div id="calculator" class="block block-bg block-bg-after color_light_bg">
        <div class="container">
            <div class="center-title text-white  wow fadeInUp">
                <h2> BTC calculator</h2>
                <p>buy bitcoin now</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="d-table w-100 h-100 calculator_bitcoin_block">
                        <div class="d-table-cell align-middle">
                            <div class="calculator_bitcoin">
                                <h2 class=" mt-4 h1 text-white  wow fadeInUp">Currency Calculator</h2>
                                <p class="mb-8 text-white  wow fadeInUp">
                                <div
                                    style="width: 400px; height:335px; background-color: #232937; overflow:hidden; box-sizing: border-box; border: 1px solid #282E3B; border-radius: 4px; text-align: right; line-height:14px; block-size:335px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #262B38;margin: 0;width: 400px;padding:1px;padding: 0px; margin: 0px;">
                                    <div style="height:315px; padding:0px; margin:0px; width: 100%;"><iframe
                                            src="https://widget.coinlib.io/widget?type=converter&theme=dark" width="400"
                                            height="310px" scrolling="auto" marginwidth="0" marginheight="0"
                                            frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe>
                                    </div>
                                    <div
                                        style="color: #626B7F; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing: border-box; padding: 2px 6px; width: 100%; font-family: Verdana, Tahoma, Arial, sans-serif;">
                                        <a href="https://coinlib.io" target="_blank"
                                            style="font-weight: 500; color: #626B7F; text-decoration:none; font-size:11px">Cryptocurrency
                                            Prices</a>&nbsp;by Coinlib</div>
                                </div>
                                </p>
                                <!-- crypt_calc_transperency demo use only -->
                                {{!-- <script src="https://www.cryptonator.com/ui/js/widget/calc_widget.js"></script> --}}
                                {{!-- <script>
                                    crypt_calc_transperency = false;
                                    crypt_calc_border_width = 0;
                                    crypt_calc_border_color = "";
                                    crypt_calc_font_family = "Sans-Serif";
                                </script> --}}
                                <!-- crypt_calc_transperency demo use only -->

                            </div>
                            <div class="calculator_bitcoin_btn mt-5  wow fadeInUp">
                                <a href="/buy-bitcoin" class="btn-ff nav-link-rounded pr-5 pl-5">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btcwdgt-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <!--  css counter-->
    <div class="counter block">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="counters-item">
                        <h3>$<span class="count">5</span>B+</h3>
                        <p>Bitcoin Served</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="counters-item">
                        <h3><span class="count">15</span>M+</h3>
                        <p>Server Build</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="counters-item">
                        <h3><span class="count">55</span></h3>
                        <p>Countries Supported</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 wow fadeInUp" data-wow-delay="0.9s">
                    <div class="counters-item kill-border">
                        <h3><span class="count">155</span>B</h3>
                        <p>Active Treades</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- action-area -->
    <div class="theme-bg action-area text-white pt-60 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-9">
                    <div class="action-content">
                        <div class="action-heading wow fadeInUp">
                            <h3 class="mb-2 text-uppercase">Open account and start the business of bitconds now!</h3>
                            <p class="text-white">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-3">
                    <div class="action-button mt-2 text-center text-md-right">
                        <a href="#" class="btn-ff nav-link-rounded pr-5 pl-5">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- newsletter-->
    <div id="newsletter" class="bg-newsletter  block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 ml-auto mr-auto text-center">
                    <div class="center-title">
                        <h2 class=" text-uppercase">Subscribe to Our Newsletter</h2>
                        <p>Etiam sit amet orci eget eros faucibus tincidunt. Sed fringilla mauris sit amet nibh.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-lg-8 ml-auto mr-auto">
                            {{!-- <form id="in-form">
                                <div class="input-group wow fadeInUp ">
                                    <input id="in-email" type="email" class="form-control" placeholder="Email address">
                                    <span class="input-group-addon">
                                        <button class="btn input-btn" type="submit"><i class="fa fa-envelope"></i> <span
                                                class="hidden-xs">Subscribe</span></button>
                                    </span>
                                </div>
                            </form> --}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{> main/contact_us}}